p.
  Toto je kata zaměřená na TDD. Kata je jednoduché cvičení, které slouží k procvičování nějakého problému.
  Proto nepopisujeme postup po krocích, ani neuvádíme správné řešení.

p.
  Cílem této katy je implementovat převod arabských čísel na římská a případně zpět. Snažte se důsledně dodržovat TDD postup:
ul
  li přidejte test
  li spusťte testy, ať víte, že nový test neprochází
  li implementujte nejmenší možnou změnu, aby test prošel
  li ověřte, že testy prochází
  li refaktorujte kód


h3 Základní pravidla
ul
  li Římská čísla se zapisují kombinací znaků I, V, X, L, C, D, M.
  li Římská čísla se skládají psaním od znaků pro nejvyšší hodnoty k nejnižším (MDL = 1550). Většinou se kombinují nejvýše 3 stejné římské číslice (XXX = 30, III = 3). Někdy mohou být kombinovány i čtyři stejné římské číslice (IIII = 4 bylo běžné na starých slunečních hodinách).
  li Menší římská číslice před větší znamená odečet (IV = 4). Takto se odečítá jen jediná římská číslice (jen zcela ojediněle dvě stejné číslice: IIX = 8).
  li Pro odčítání podle bodu 3 se používají pouze římské číslice I, X, C; v matematickém kontextu zcela výjimečně také M. Nikdy nebyly používány římské číslice V, L, D (správně: XC = LXXXX = 90, MCM = 1900; nesprávně: VC = 95).
  li Číslice I se pro odečítání většinou užívá jen před V, X. Není tedy správně MIM pro 1999 (lépe je MCMXCVIIII nebo MCMXCIX).


h4 Tabulka převodu římských čísel
table.table
  tr
    th 1
    th 5
    th 10
    th 50
    th 100
    th 500
    th 1000
  tr
    td I
    td V
    td X
    td L
    td C
    td D
    td M
