p V tomto cvičení si vyzkoušíte pokročilé asserce.

p Cílem cvičení bude přepsat běžný zápis použitých assert* do pokročilejší podoby. Práce bude probíhat pouze v souborech testů, kde jsou také připravena testovací data.

.info Vyberte si k zapracování jednu z knihoven #[strong Hamcrest] (1.*), nebo #[strong AssertJ] (2.*)

h3 1 Hamcrest

p Tuto část budete zpracovávat v souboru #[strong AdvancedHamcrestMatchersTest] a budeme používat Hamcrest. Vše potřebné je již staticky importováno a připraveno k použití.

h4 1.1 Test základních kritérií

p V tomto testu se kontroluje, zda oblíbená kniha splňuje definované podmínky
ul
  li je skutečně knihou #[strong (PublicationType.BOOK)]
  li má více než #[strong 200] stran
  li její id odpovídá evidenci začíná na #[strong ID]
  li její id nekončí na #[strong EN]

p Všimněte si, že tři ze čtyř assercí porovnávají pouze logickou podmínku, toto můžeme zlepšit.

ul.task
  li přepište tedy jednotlivé řádky na použití metody #[strong assertThat]

hint
  snippet
    :highlight-java
      Syntaxe: assertThat(expected, Matcher)
  p Využijete matchery #[strong equalTo], #[strong greaterThan], #[strong startsWith], #[strong endsWith] a pro negaci #[strong not].

solution
  :highlight-java
    @Test
    public void favoriteBookMeetsBasicCriteria() throws Exception {
      assertThat(FAVORITE_BOOK.getType(), equalTo(PublicationType.BOOK));
      assertThat(FAVORITE_BOOK.getPages(), greaterThan(200));

      assertThat(FAVORITE_BOOK.getId(), startsWith("ID"));
      assertThat(FAVORITE_BOOK.getId(), not(endsWith("EN")));
    }

h3 1.2 Test všech záznamů v kolekci

p Test kontroluje, že každý identifikátor v kolekci #[strong SELECTED_BOOK_IDS] začíná na #[strong ID]

ul.task
  li přepište test na použití #[strong assertThat] a matcheru pro každý záznam

hint Matcher ověřující každý záznam je #[strong everyItem], jako parametr akceptuje aplikovaný matcher.

solution
  :highlight-java
    @Test
    public void allSelectedBookIdsStartsWithID() throws Exception {
      assertThat(SELECTED_BOOK_IDS, everyItem(startsWith("ID")));
    }

h3 1.3 Test existence záznamu

p Test kontroluje že v kolekci identifikátorů #[strong SELECTED_BOOK_IDS] existuje záznam končící na #[strong SK]

ul.task
  li přepište test na použití #[strong assertThat] a matcheru ověřujícího existenci záznamu

hint Matcher ověřující existenci záznamu je #[strong hasItem], jako parametr akceptuje aplikovaný matcher.

solution
  :highlight-java
    @Test
    public void atLeastOneSelectedBookEndsWithSK() throws Exception {
      assertThat(SELECTED_BOOK_IDS, hasItem(endsWith("SK")));
    }

h3 1.4 Test vlastnosti objektu

p Tento test testuje typ oblíbené knihy. Stejný jsme už přepisovali, ale nyní si na něm vyzkoušíme možnost provádět asserce také na celém objektu, která nás uvede do vlastních Matcherů.

ul.task
  li přepište test na použití #[strong assertThat]
    ul
      li jako parametr použijte #[strong FAVORITE_BOOK], nikoli FAVORITE_BOOK.getType();
      li použijte matcher pro matchování vlastnosti a ověřte, že vlastnost #[strong type] odpovídá #[strong PublicationType.BOOK]

hint Matcher pro aplikaci matcheru na vlastnost objektu #[strong hasProperty]
  ul
    li první parametr - název vlastnosti
    li druhý parametr - aplikovaný matcher

solution
  :highlight-java
    @Test
    public void objectPropertyCanBeTestedWithHasPropertyMatcher() throws Exception {
      assertThat(FAVORITE_BOOK, hasProperty("type", equalTo(PublicationType.BOOK)));
    }

h3 1.5 Vlastní matcher

p Předchozí příklad byl možná trochu umělý, ale získaná zkušenost se nám bude hodit. První myšlenka může být, že to jde jednodušeji.

h4 1.5.1 Test použití vlastního matcheru

p.
  Můžeme objekt podrobit kontrole pomocí vlastního matcheru, předpřipravili jsme pro tento účel matcher #[strong isType], který bere parametr typu #[strong PublicationType].

ul
  li prohlédněte si matcher #[strong isType], nedokončenou implementací se zatím netrapte.
  li.task přepište test na použití #[strong assertThat]
    ul
      li jako matcher použijte #[strong isType] a jako jeho parametr #[strong Publication.BOOK]
  li pokud test spustíte, nebude zatím procházet, můžete si ale prohlédnout skladbu hlášky

solution
  :highlight-java
    @Test
    public void objectPropertyCanBeTestedWithOwnMatcher() throws Exception {
      assertThat(FAVORITE_BOOK, isType(PublicationType.BOOK));
    }

h4 1.5.2 Ověřte typ publikace

p Nyní přistoupíme k implementaci matcheru.

ul.task
  li v metodě #[strong matchesSafely] matcheru zkontrolujte, že publikace odpovídá typu předanému v parametru #[strong type]
  li ověřte, že nyní testy prochází

solution
  :highlight-java
    @Override
    protected boolean matchesSafely(Publication publication) {

      return publication.getType().equals(type);
    }

h3 1.6 Test vlastností objektů v kolekci

p Tento test kontroluje, že všechny publikace v kolekci #[strong SELECTED_BOOKS] jsou typu kniha.

ul.task
  li pro ověření podmínky, že všechny záznamy jsou typu kniha použijte matcher #[strong isType] z předchozího příkladu

solution
  :highlight-java
    @Test
    public void selectedBooksMeetsSchoolCriteria() throws Exception {
      assertThat(SELECTED_BOOKS, everyItem(isType(PublicationType.BOOK)));
    }

.success Tímto jste si vyzkoušeli nejdůležitější části Hamcrestu, pokud Vám sedí, nebojte se jej nadále používat ve cvičeních.

h3 2 AssertJ

p.
  V této části si vyzkoušíme přepis obdobných assercí, tentokrát za použití AssertJ.
  Tuto část budete zpracovávat v souboru #[strong AdvancedAssertJMatchersTest]. Vše potřebné je již staticky importováno a připraveno k použití.

p Jednou z výhod AssertJ je, že velmi IDE dokáží dobře napovídat použitelné asserce, využívejte toho.
h4 2.1 Test základních kritérií

p V tomto testu se kontroluje, zda oblíbená kniha splňuje definované podmínky
ul
  li je skutečně knihou #[strong (PublicationType.BOOK)]
  li má více než #[strong 200] stran
  li její id odpovídá evidenci začíná na #[strong ID]
  li její id nekončí na #[strong EN]

ul.task
  li přepište tedy jednotlivé řádky na použití metody #[strong assertThat]
    ul
      li V tomto souboru máte staticky importovánu #[strong assertThat] z AssertJ
      li při ověřování vlastností identifikátoru využijte fluent zápis

hint
  | Využijete metody #[strong isEqualTo], #[strong isGreaterThan], #[strong startsWith] a #[strong doesNotEndWith].
  br
  | Fluent zápisem se myslí, že metody vracejí objekt assertu, je tedy možné volání řetězit.

solution
  :highlight-java
    @Test
    public void favoriteBookMeetsBasicCriteria() throws Exception {
      assertThat(FAVORITE_BOOK.getType()).isEqualTo(PublicationType.BOOK);
      assertThat(FAVORITE_BOOK.getPages()).isGreaterThan(200);

      assertThat(FAVORITE_BOOK.getId())
        .startsWith("ID")
        .doesNotEndWith("SK");
    }

h4 2.2 Test vlastností objektu

p Tento test kontroluje všechny vlastnosti oblíbené knihy proti vlastnostem objektu #[strong bookWithExpectedValues].

ul.task
  li přepište čtyři asserce na jedinou použitím #[strong assertThat] a metodu pro ověření všech vlastností objektu

hint Jedná se o metodu #[strong isEqualToComparingFieldByField]

solution
  :highlight-java
    @Test
    public void objectCanBeAssertedByPropertyWithValue() {
      Publication bookWithExpectedValues = new Publication("ID001CZ", PublicationType.BOOK, "Guide to galaxy", 352);

      assertThat(FAVORITE_BOOK).isEqualToComparingFieldByField(bookWithExpectedValues);
    }

h4 2.3 Vytvoření vlastní assertThat

p AssertJ poskytuje možnost vytvořit vlastní #[strong assertThat] pro konkrétní objekt s metodami odpovídajícím vlastnostem.

p.
  Tu je možné vytvořit ručně, případně jej pomocí pluginu nagenerovat. Nám jde ale o použití, proto je pro vás tato asserce již připravena.
  Byl použit plugin pro generování a kód mírně upraven a zjednodušen.
ul
  li jedná se o třídu #[strong PublicationAssert]
  li prohlédnout si ji můžete v balíku #[strong cz.unittest.exercises.assertions]
  li je zde také třída #[strong Assertions], kterou můžete použít jako vstupní bod pro import

h4 2.3.1 Import vlastního assertThat

p Nejprve vlastní #[strong assertThat] musíme naimportovat
ul.task
  li nahraďte původní řádek importu vlastní třídou #[strong Assertions]
snippet.
  import static cz.unittest.exercises.assertions.Assertions.assertThat;

h4 2.3.2 Použití vlastní assertThat

ul.task
  li přepište test na použití #[strong assertThat] a použijte novou metodu pro ověření že typ je #[strong PublicationType.BOOK]

hint S #[strong assertThat] nyní můžete použít metodu #[strong hasType]

solution
  :highlight-java
    @Test
    public void objectCanBeAssertedByOwnAssertThatMethod() throws Exception {
      assertThat(FAVORITE_BOOK).hasType(PublicationType.BOOK);
    }

h3 2.4 Vlastní condition

solution
  :highlight-java
h4 2.4.1 Test ověření vlastnosti pomocí condition

p Další způsob jak provádět asserce na objektu představují podmínky (#[em Conditions]), jedná se o univerzálnější způsob než vlastní assertThat.

p.
  Condition pro ověření typu jsme pro vás připravili, je vracena metodou #[strong type].

ul
  li prohlédněte si condition #[strong type], nedokončenou implementací se zatím netrapte.
  li.task přepište test na použití #[strong assertThat]
  li použijte jednu z metod pro ověření podmínky
  li jako podmínku použijte condition vracenou metodou #[strong type] s parametrem #[strong PublicationType.BOOK]

hint Metody pro ověření podmínky jsou #[strong is] a #[strong has]

ul
  li pokud test spustíte, nebude zatím procházet

solution
  :highlight-java
    @Test
    public void objectCanBeAssertedByCondition() {
      assertThat(FAVORITE_BOOK).has(type(PublicationType.BOOK));
    }

h4 2.4.2 Ověřte typ publikace

p Nyní přistoupíme k implementaci podmínky.

ul.task
  li v metodě #[strong matches] podmínky zkontrolujte, že publikace odpovídá typu předanému v parametru #[strong type]
  li ověřte, že nyní testy prochází


solution
  :highlight-java
    @Override
    public boolean matches(Publication publication) {
      return publication.getType().equals(type);
    }

h3 2.5 Test neexistence objektu v kolekci

p Tento test ověřuje, že v kolekci #[strong SELECTED_ITEMS] neexistuje žádný záznam typu #[strong PublicationType.POSTER]

p Parametrem #[strong assertThat] může být také kolekce. AssertJ nabízí metody pro ověření vlastností kolekce.

ul
  li.task přepište test na použití #[strong assertThat], jako parametr použijte celou kolekci #[strong SELECTED_ITEMS]
  li použijte metodu ověřující, že podmínka není pro žádný záznam splněna

hint Metoda se jmenuje #[strong doNotHave].
  li jako parametr metody použijte podmínku z #[strong type] z předchozího testu

solution
  :highlight-java
    @Test
    public void thereIsNoPosterAmongSelectedItems() {
      assertThat(SELECTED_ITEMS).doNotHave(type(PublicationType.POSTER));
    }

h2 Extra
h3 2.6 Test vlastností podmnožiny objektů

p Tento test kontroluje, zda všechny záznamy z kolekce #[strong SELECTED_ITEMS], které jsou typu kniha jsou rezervovány pro uživatele #[strong PETR]

p Na kolekcích je možné využít dvě zajímavé vlastnosti #[strong filtrování] a #[strong extrakci vlastnosti z objektů kolekce]
  ul
    li #[strong Filtrování] umožní omezit původní množinu použitím podmínky
    li #[strong Extrakce] převede původní kolekci na kolekci jen vybraných vlastností, další asserce se tedy týkají už této nové kolekce

p Tyto dvě vlastnosti se často používají dohromady, stejně je použijeme také my.

ul.task
  li přepište test na použití #[strong assertThat], jako parametr použijte celou kolekci #[strong SELECTED_ITEMS]
  li omezte kolekce jen na záznamy vyhovující podmínce #[strong type] s parametrem #[strong PublicationType.BOOK]

hint Pro omezení kolekce se používá metoda #[strong filteredOn]

ul.task
  li extrahujte vlastnost #[strong reservedFor], bude typu #[strong User]

hint Extrakci vlastnosti provedete metodou #[strong extracting]
  br
  ul
    li první parametr - název vlastnosti
    li druhý parametr - typ

p Další ověřování se týká pouze extrahovaných vlastností
  ul.task
    li ověřte, že kolekce obsahuje pouze záznamy odpovídající uživateli #[strong USER]

hint K ověření použijte metodu #[strong containsOnly]

solution
  :highlight-java
    @Test
    public void allBooksFromSelectedItemsShouldBeReservedForPetr() {
      assertThat(SELECTED_ITEMS)
        .filteredOn(type(PublicationType.BOOK))
        .extracting("reservedFor", User.class)
        .containsOnly(PETR);
    }

p.success Tímto jste si vyzkoušeli nejdůležitější části AssertJ, pokud Vám sedí, nebojte se jej nadále používat ve cvičeních.
