p V tomto cvičení si vyzkoušíte použití BDD frameworku Cucumber spolu se seleniovými testy.

p Pro testy využijeme ukázkovou aplikaci -&nbsp;
  a(href="http://beer-app.angular.cz/", target="_blank") BeerApp.
  |  Jedná se o fiktivní katalog piv, který umožňuje vyhledávání, editaci a hodnocení.

p Průběh cvičení bude závislý na podpoře Cucumberu v použitém IDE, které Vám může pomoct při vytváření kroků a spouštěním.

h3 1 Vyhledávání piva

h4 1.1 Spuštění testů

.info Pokud to je možné, spouštějte testy pomocí IDE jako jednotlivé feature, případně jako feature modulu. Pokud to možné není, je k dispozici #[strong CucumberFeaturesTest], který toto zabaluje.

ul
  li.task prohlédněte si soubor #[strong SearchForBeer.feature], který obsahuje první scénář ověření titulku stránky
  li.task přejděte do třídy #[strong BeerListDefinitions] s definicemi kroků
    ul
      li v závislosti na podpoře IDE se můžete i prokliknout
      li jednotlivé kroky využívají page objekt a instanční proměnné
      li všimněte si způsobu zápisu kroků a inicializace Webdriveru

  li.task spusťte feature #[strong SearchForBeer] a ověřte, že testy procházejí

h4 1.2 Scénář - Can found record Rebel

ul.task
  li zkopírujte do definice feature #[strong SearchForBeer] následující scénář

snippet.
  Scenario: Can found record Rebel
    Given beer-app list page
    When search for name Rebel
    And search for degree 11
    Then there is row with name Rebel

p Definice kroků jsou připravené, všimněte si zvýraznění v místě parametrů.

ul.task
  li spusťte test feature a ověřte, že testy procházejí

h4 1.3 Použití outline

p Pokud chcete ověřit více situaci, můžete použít #[strong Scenario Outline] a uvést parametry v tabulce

ul.task
  li zaměňte původní scénář za následující

snippet.
  Scenario Outline: search
    Given beer-app list page
    When search for name &lt;name&gt;
    And search for degree &lt;degree&gt;
    Then there is row with name &lt;whole-name&gt;

    Examples:
      |   name      | degree  |   whole-name  |
      |  Janá       |    Dia  |   Janáček     |
      |  Rebel      |    11   |   Rebel       |
      |  Radegast   |    18   |   Radegast    |

ul
  li.task spusťte test feature a ověřte, že testy procházejí
  li nyní by se měl provést jeden test pro každý řádek tabulky

h3 2 Přihlášení uživatele

p Implementujeme nyní test přihlášení uživatele

h4 2.1 Scénář - Logging user

ul.task
  li v #[strong Login.feature] přidejte následující scénář
snippet.
  Scenario: Logging user
    Given homepage
    And user shows login dialog
    When log with credentials "user" / "pass"
    Then user is logged in as "user"

p Kroky jsou již připravené ve třídě #[strong LoginDefinitions], nejsou ale implementovány.

h4 2.2 Implementace kroků

p Při implementaci kroků rozkládáte seleniový test na znovupoužitelné části a využíváte instanční proměnné třídy s definicemi kroků.

p V seleniu by takovýto test vypadal následovně

snippet
  :highlight-java
    driver.get(BASE_URI);

    LoginModalDialog loginModal = LoginModalDialog.showByClick(driver);
    loginModal.logAs("user", "pass");

    assertThat(loginModal.getLoggedUser()).isEqualTo("user");

ul.task
  li použijte tedy jednotlivé řádky ve správných definicích kroku
  li místo lokální proměnné #[strong loginModal] použijte připravenou instanční proměnnou
  li použijte skutečné hodnoty předávaných parametrů

hint
  snippet
    :highlight-java
      // 2.2.1 Otevření domovské stránky
      driver.get(BASE_URI);

      // 2.2.2 Vyvolání dialogového okna
      LoginModalDialog loginModal = LoginModalDialog.showByClick(driver);

      // 2.2.3 Přihlášení uživatele
      loginModal.logAs("user", "pass");

      // 2.2.4 Ověřte, že je uživatel přihlášen
      assertThat(loginModal.getLoggedUser()).isEqualTo("user");

ul.task
  li spusťte test feature #[strong Login.feature] a ověřte, že testy procházejí

solution
  :highlight-java
    @Given("^homepage$")
     public void homepage() throws Throwable {

       driver.get(BASE_URI);
     }

     @When("^user shows login dialog$")
     public void showLoginDialog() throws Throwable {

       loginModal = LoginModalDialog.showByClick(driver);
     }

     @And("^log with credentials \"([^\"]*)\" / \"([^\"]*)\"$")
     public void logWithCredentialsUserPass(String user, String name) throws Throwable {

       loginModal.logAs(user, name);
     }

     @Then("^user is logged in as \"([^\"]*)\"$")
     public void userIsLoggedInAs(String name) throws Throwable {

       assertThat(loginModal.getLoggedUser()).isEqualTo(name);
     }

h3 3 Hodnocení piv

p Ve feature #[strong Rating.feature] budeme testovat scénář, kdy se uživatel nejprve přihlásí a poté hodnotí

h4 3.1 Scénář - Logging user and rate beer

ul.task
  li přidejte do #[strong Rating.feature] následující scénář

snippet.
  Scenario: Logged user can rate beer
    Given homepage
    And user shows login dialog
    And log with credentials "user" / "pass"

    Given beer detail with id 1
    When user clicks on rating tab
    And writes name "Petr"
    And selects 3 stars
    And writes description
    And click add rating
    Then rating is successfully created

p.
  První polovina kroků je již implementována, druhá ne, tyto kroky nyní přidáme do #[strong BeerDetailDefinitions]

ul.task
  li pokud máte IDE podporující Cucumber, můžete si kroky nechat vygenerovat (#[em InteliJ Alt+Enter - generate all steps])
  li pokud ne, zkopírujte je z následující nápovědy

hint
  snippet.
    @When("^user clicks on rating tab$")
    public void userClicksOnRatingTab() throws Throwable {

    }

    @And("^writes name \"([^\"]*)\"$")
    public void writesName(String name) throws Throwable {

    }

    @And("^selects (\\d+) stars$")
    public void selectsStars(int stars) throws Throwable {

    }

    @And("^writes description$")
    public void writesDescription() throws Throwable {

    }

    @And("^click add rating$")
    public void clickAddRating() throws Throwable {

    }

    @Then("^rating is successfully created$")
    public void ratingIsSuccessfullyCreated() throws Throwable {

    }

h4 3.2 Implementujte step definitions

p Nyní půjde opět o správné rozložení seleniového testu do kroků. Prohlédněte si odpovídající test v seleniu. Zakomentované řádky jsou již implementovány

snippet
  :highlight-java
    // driver.get(BASE_URI);
    //
    // LoginModalDialog loginModal = LoginModalDialog.showByClick(driver);
    // loginModal.logAs("user", "pass");

    // driver.get(BASE_URI + "#/beer/1");

    // DetailPage detailPage = new DetailPage(driver);

    DetailRatingTab ratingTab = detailPage.goToRatingTab();
    ratingTab.setName("user");
    ratingTab.setRating(3);
    ratingTab.setDescription("description");
    ratingTab.clickRateButton();

    Alerts alerts = new Alerts(driver);
    assertThat(alerts.getAlertText()).contains("Vaše hodnocení bylo přidáno, děkujeme");

ul.task
  li použijte tedy jednotlivé řádky ve správných definicích kroku
  li místo lokální proměnné #[strong ratingTab] použijte připravenou instanční proměnnou
  li použijte hodnoty předávaných parametrů tam kde jsou předávány
  li spusťte test feature #[strong Rating.feature] a ověřte, že testy procházejí

solution
  :highlight-java
    @When("^user clicks on rating tab$")
    public void userClicksOnRatingTab() throws Throwable {
      ratingTab = detailPage.goToRatingTab();
    }

    @And("^writes name \"([^\"]*)\"$")
    public void writesName(String name) throws Throwable {
      ratingTab.setName(name);
    }

    @And("^selects (\\d+) stars$")
    public void selectsStars(int rate) throws Throwable {
      ratingTab.setRating(rate);
    }

    @And("^writes description$")
    public void writesDescription() throws Throwable {
      ratingTab.setDescription("description");
    }

    @And("^click add rating$")
    public void clickAddRating() throws Throwable {
      ratingTab.clickRateButton();
    }

    @Then("^rating is successfully created$")
    public void ratingIsSuccessfullyCreated() throws Throwable {
      Alerts alerts = new Alerts(driver);
      assertThat(alerts.getAlertText()).contains("Vaše hodnocení bylo přidáno, děkujeme");
    }

h4 3.3 Zjednodušení volání kroků

p Scénář zadání hodnocení nemusí obsahovat konkrétní hodnoty zjednodušíme zadání do jediného kroku.

ul.task
  li přidejte do #[strong Rating.feature] následující scénář

snippet.
  Scenario: Logged user can rate beer - simplified
    Given homepage
    And user shows login dialog
    And log with credentials "user" / "pass"

    Given beer detail with id 2
    When user clicks on rating tab
    And fill rating
    And click add rating
    Then rating is successfully created

h4 3.4 Zjednodušující metoda

p krok #[strong And fill rating] není definován

ul.task
  li vygenerujte, nebo nadefinujte tento krok v #[strong BeerDetailDefinitions]

hint
  snippet.
    @And("^fill rating$")
    public void fillRating() throws Throwable {

    }

ul.task
  li provolejte stávající kroky pro nastavení jména, hodnocení a popisu s libovolnými hodnotami
  li spusťte test feature #[strong Rating.feature] a ověřte, že testy procházejí

solution
  :highlight-java
    @And("^fill rating$")
    public void fillRating() throws Throwable {
      writesName("Petr");
      selectsStars(5);
      writesDescription();
    }

h4 3.5 Použití Background

p Jistě Vám padla do oka duplicita v předchozích scénářích
snippet.
   Given homepage
   And user shows login dialog
   And log with credentials "user" / "pass"

ul.task
  li přesuňte duplicitní kód do sekce #[strong Background], stane se společným pro všechny scénáře
  li spusťte test feature #[strong Rating.feature] a ověřte, že testy procházejí

solution
  :highlight-java
    Background:
       Given homepage
       And user shows login dialog
       And log with credentials "user" / "pass"

h3 4 Hodnocení piv s dodatečným přihlášením

p Cvičení zakončíme scénářem kdy nepřihlášený uživatel bude hodnotit pivo a je mu umožněno dodatečně se přihlásit.

h4 4.1 Scénář - User can rate beer then login
ul.task
  li přidejte do #[strong RatingWithLazyLogin.feature] následující scénář

snippet.
  Scenario: User can rate beer then login
    Given beer detail with id 1
    When user clicks on rating tab
    And fill rating
    And click add rating
    And login dialog is shown
    And log with credentials "user" / "pass"
    Then rating is successfully created

p Zbývá implementovat jediný krok, #[strong And login dialog is shown].

ul.task
  li vygenerujte, nebo nadefinujte tento krok v #[strong LoginDefinitions]

hint
  snippet.
    @And("^login dialog is shown$")
    public void loginDialogIsShown() throws Throwable {

    }

h4 4.2 Vytvořte krok pro explicitní přihlášení

p Implementujte krok reprezentující, že byl zobrazen přihlašovací formulář.

ul.task
  li vytvořte novou instanci page objektu #[strong LoginModalDialog] a přiřaďte do existující instanční proměnné
  li spusťte všechny testy a ověřte že procházejí

solution
  :highlight-java
    @And("^login dialog is shown$")
    public void loginDialogIsShown() throws Throwable {
      loginModal = new LoginModalDialog(driver);
    }

.success Výborně, rozložili jste seleniové testy do znovupoužitelných kroků.
