p V tomto cvičení si vyzkoušíte základy mockování

h3 Popis problému
p.
  Knihovna odesílá upomínky pro zpožděné výpůjčky. Aktuálně dochází k odeslání emailu pro každou výpůjčku zvlášť.
  Lepší by bylo, sdružit upomínky tak, aby každému uživateli přišla pouze jedna sdružená upomínka.

p.
  Třída #[strong ProcessingJob] se stará o předání zpožděných výpůjček z repozitáře ke službě #[strong ReminderQueue], která má na starosti odeslání.
p.
  Zpracování se vyvolá metodou #[strong process] třídy #[strong ProcessingJob], která vrací počet odeslaných upozornění.

h3 1 Test stávajícího řešení
p.
  Začneme tím, že otestujeme stávající řešení.
  Naše práce bude probíhat v testovací třídě #[strong ProcessingJobTest].
  Pro potřeby testů je k dispozici třída #[strong FakeRepository]. Podívejte se letmo na její implementaci.

ul
  li vytváří a zpřístupňuje několik entit
  li vrací entity v kolekci vrací jako výsledek volání metody #[strong getOverdueBorrowings]

h4 1.1 Otestujte počet odeslaných upomínek

p Třída #[strong FakeRepository] vrací 5 upomínek k odeslání, budeme tedy očekávat, že odešle 5 upomínek.

ul.task
  li vytvořte test #[strong jobShouldSendReminderForOverdueBorrowings]
  li vytvořte instanci #[strong ProcessingJob] a předejte jí instance #[strong FakeRepository] a skutečné služby #[strong ReminderQueue]
  li zavolejte metodu jobu #[strong .process()] a očekávejte že vrátí hodnotu #[strong 5]

p Po spuštění by měl být výsledkem procházející test

ul
  li pokud se ale podíváte do jeho výpisu, uvidíte, že došlo ke skutečnému rozeslání upomínek

solution
  :highlight-java
    @Test
    public void jobShouldSendReminderForOverdueBorrowings() {
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), new ReminderQueue());

      int numberOfReminders = processingJob.process();
      assertThat(numberOfReminders).isEqualTo(5);
    }

h3 2 Nahrazení závislosti mockem

p Aby nedocházelo ke skutečnému odesílání, použijeme mock. Využijeme jej také pro ověření chování.

h4 2.1 Nahraďte #[strong ReminderQueue] mockem

ul.task
  li vytvořte mock třídy #[strong ReminderQueue]
  li předejte jej do instance #[strong ProcessingJob]

hint Mock se vytváří pomocí metody #[strong Mockito.mock(Class)]

solution
  :highlight-java
    @Test
    public void jobShouldSendReminderForOverdueBorrowings() {
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), mock(ReminderQueue.class));

      int numberOfReminders = processingJob.process();
      assertThat(numberOfReminders).isEqualTo(5);
    }

ul.task
  li spusťte testy a ověřte, že procházejí a že se již maily neodesílají

h4 2.1 Ověřte počet volání metody add

ul.task
  li vytvořený mock si uložte do proměnné
  li očekávejte, že byla jeho metoda #[strong add] volána s jakýmikoli parametry celkem pětkrát

hint
  ul
    li Pro ověření volání se používá #[strong Mockito.verify(mock).method()], modifikátor #[strong times(count)] umožní určit požadovaný počet volání
    li Pro určení jakýchkoli parametrů použijte matcher #[strong any(Class)]

solution
  :highlight-java
    @Test
    public void jobShouldSendReminderForOverdueBorrowings() {
      ReminderQueue reminderQueueMock = mock(ReminderQueue.class);
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), reminderQueueMock);

      int numberOfReminders = processingJob.process();
      assertThat(numberOfReminders).isEqualTo(5);

      verify(reminderQueueMock, times(5)).add(any(User.class), any(ReminderContent.class));
    }

ul.task
  li spusťte testy a ověřte, že procházejí

h4 2.2 Ověření konkrétních volání

p Aby bylo ověření úplné, ověříme ještě, že byla metoda volána v očekávaném počtu pro konkrétní uživatele.
p Testovací repozitář FakeRepository vystavuje uživatele USER1, USER2, USER3. Ty použijeme jako parametr v očekávaném volání.

ul
  li.task přidejte tři další ověření a očekávejte pro každého z uživatelů patřičný počet volání:
  ul
    li #[strong FakeRepository.USER1] - 2 volání
    li #[strong FakeRepository.USER2] - 1 volání
    li #[strong FakeRepository.USER3] - 2 volání
  li Nezapomeňte, že pokud používáte jakýkoli argument matcher, musíte pro konkrétní parametr použít také matcher

hint Jako matcher rovnosti použijte #[strong eq()]

solution
  :highlight-java
    @Test
    public void jobShouldSendReminderForOverdueBorrowings() {
      ReminderQueue reminderQueueMock = mock(ReminderQueue.class);
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), reminderQueueMock);

      int numberOfReminders = processingJob.process();
      assertThat(numberOfReminders).isEqualTo(5);

      verify(reminderQueueMock, times(5)).add(any(User.class), any(ReminderContent.class));

      verify(reminderQueueMock, times(2)).add(eq(FakeRepository.USER1), any(ReminderContent.class));
      verify(reminderQueueMock, times(1)).add(eq(FakeRepository.USER2), any(ReminderContent.class));
      verify(reminderQueueMock, times(2)).add(eq(FakeRepository.USER3), any(ReminderContent.class));
    }

ul.task
  li spusťte testy a ověřte, že procházejí

h3 3 Změna chování odesílání

p.
  Nyní upravíme chování jobu odesílajícího upozornění tak, aby pro každého uživatele odeslal jen jedno upozornění.
  Nejprve upravíme test, aby toto očekávané chování pokrýval.

h4 3.1 Upravte počty volání v testu

ul.task
  li změňte očekávaný počet celkových volání na 3
  li změňte očekávaný počet volání pro jednotlivé uživatele na jedno

ul
  li po této změně test přestane procházet

solution
  :highlight-java
    @Test
    public void jobShouldSendReminderForOverdueBorrowings() {
      ReminderQueue reminderQueueMock = mock(ReminderQueue.class);
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), reminderQueueMock);

      int numberOfReminders = processingJob.process();
      assertThat(numberOfReminders).isEqualTo(3);

      verify(reminderQueueMock, times(3)).add(any(User.class), any(ReminderContent.class));

      verify(reminderQueueMock, times(1)).add(eq(FakeRepository.USER1), any(ReminderContent.class));
      verify(reminderQueueMock, times(1)).add(eq(FakeRepository.USER2), any(ReminderContent.class));
      verify(reminderQueueMock, times(1)).add(eq(FakeRepository.USER3), any(ReminderContent.class));
    }

h4 3.2 Rozšiřte implementaci jobu o podporu seskupování
p.
  Nyní upravíme metodu #[strong process] třídy #[strong ProcessingJob] tak, aby poslala upozornění pro každého uživatele jen jednou.

ul
  li repository má metodu #[strong getGroupedOverdueBorrowings], která vrací už seskupené výpůjčky jako kolekci objektů #[strong GroupedBorrowings]
    ul
      li #[strong GroupedBorrowings] obsahuje uživatele #[strong User] a kolekci výpůjček #[strong Borrowings]

  li metoda #[strong add] třídy #[strong ReminderContent] umí odeslat nejen jednu upomínku, ale také celou kolekci výpůjček
  li.task iterujte přes kolekci seskupených upomínek a vytvořte upomínku pro každého uživatele s jeho kolekcí výpůjček

solution
  :highlight-java
    public int process() {

      List<GroupedBorrowings> groupedBorrowings = borrowingsRepository.getGroupedOverdueBorrowings();

      for (GroupedBorrowings borrowings : groupedBorrowings) {
        ReminderContent content = new ReminderContent(borrowings.getBorrowings());
        reminderQueue.add(borrowings.getUser(), content);
      }

      return groupedBorrowings.size();
    }

h2 Extra
h3 4 Zachycení parametrů volání

p.
  Pro podrobnější kontrolu je možné zachytit parametr, se kterým byl mock volaný, a podrobit jej běžným assercím.
  Zkontrolujeme, zda byly metodě #[strong add] volané s konkrétním parametrem předány konkrétní publikace.

h4 4.1 Vytvořte test s kontrolu zachyceného parametru
ul
  li.task vytvořte nový test pojmenovaný #[strong user1ShouldReportPublication1AndPublication2]
  ul
    li test bude vytvářet instanci a volat metodu objektu #[strong ProcessingJob] stejně jako předchozí

  li.task vytvořte #[strong ArgumentCaptor] pro zachycení objektu #[strong ReminderContent]
  li.task očekávejte volání metody #[strong add] s parametrem #[strong FakeRepository.USER1] a druhý parametr odchyťte pomocí captoru
hint.
  Captor vytvoříte pomocí #[strong ArgumentCaptor.forClass(Class)], zachytíte pomocí metody #[strong capture] a hodnotu získáte pomocí metody #[strong getValue]

ul
  li.task získejte hodnotu a zkontrolujte, že výpůjčky obsahují pouze #[strong FakeRepository.PUBLICATION1] a #[strong PUBLICATION2]
    ul
      li zachycený objekt obsahuje kolekci výpůjček(#[strong Borrowing])
      li výpůjčky mají vlastnost publikace(#[strong Publication])
      li při asserci můžete využít vlastnost #[strong extracting] knihovny AssertJ, zkontrolovat obě výpůjčky ručně, nebo použít assert z následující nápovědy

hint Asserce může vypadat takto:
  br
  snippet
    :highlight-java
      assertThat(content.getBorrowings())
        .extracting("publication", Publication.class)
        .containsOnly(FakeRepository.PUBLICATION1, FakeRepository.PUBLICATION2);

solution
  :highlight-java
    @Test
    public void user1ShouldReportPublication1AndPublication2() {
      ReminderQueue reminderQueueMock = mock(ReminderQueue.class);
      ProcessingJob processingJob = new ProcessingJob(new FakeRepository(), reminderQueueMock);

      processingJob.process();

      ArgumentCaptor<ReminderContent> captor = ArgumentCaptor.forClass(ReminderContent.class);

      verify(reminderQueueMock).add(eq(FakeRepository.USER1), captor.capture());

      ReminderContent content = captor.getValue();
      assertThat(content.getBorrowings())
        .extracting("publication", Publication.class)
        .containsOnly(FakeRepository.PUBLICATION1, FakeRepository.PUBLICATION2);
    }
