p V tomto cvičení si vyzkoušíte parametrizaci testů a principy techniky property based testing.

p Knihovna je nucena pokutovat nedbalé čtenáře a za pozdě vrácenou výpůjčku účtuje penále podle typu výpůjčky.

ul
  li třída #[strong PenaltyCalculator] umí vypočítat výši pokuty z objektu, nebo kolekce objektů #[strong OverdueItem].
  li #[strong OverdueItem] obsahuje informaci o počtu zpožděných výpůjček #[strong PublicationType]
  li výše pokut pro jednotlivé typy výpůjček jsou definovány ve třídě #[strong PenaltyDefinition], která má také metody pro získání maximální a minimální hodnoty
  li.task prohlédněte si #[strong PenaltyCalculatorTest] - testy jsou plné konkrétních hodnot a duplicit. V tomto cvičení se zaměříme na odstranění těchto neduhů

h3 1 Parametrický test

p Testy #[strong penaltyFor<Type>] jsou duplicitní, mohli bychom část testu zapouzdřit do metody, lepší bude ale testy parametrizovat.

ul
  li parametrický test budete tvořit ve třídě #[strong PenaltyCalculatorParameterizedTest]

h4 1.1 Použijte parametrický runner

ul
  li třída testu musí být spuštěna pomocí parametrického runneru
  li.task použijte správnou anotaci a třídu runneru
hint
  ul
    li Runner určíte pomocí anotace #[strong @RunWith()]
    li Parametrický runner je #[strong Parameterized]

solution
  :highlight-java
    @RunWith(Parameterized.class)
    public class PenaltyCalculatorParameterizedTest {
      ...
    }

h4 1.2 Přidejte zdroj parametrů

p Nyní definujeme zdroj parametrů, v JUnit je to metoda vracející kolekci objektů, nebo polí objektů.

ul
  li.task vytvořte statickou metodu #[strong parametersForPenaltyByType] vracející kolekci polí
snippet
  :highlight-java
    Arrays.asList(new Object[][]{
      {PublicationType.DVD, 30},
      {PublicationType.BOOK, 20},
      {PublicationType.MAGAZINE, 10}
    })
ul
  li.task metodu anotujte jako zdroj parametrů
  li běh testu můžete také pojmenovat a do názvu přidat hodnoty parametrů
hint
  ul
    li zdroj parametrů je anotovaní jako #[strong @Parameters].
    li pojmenování se uvádí pomocí name, je možné použít i hodnoty parametrů zápisem {0} .. {n-1}

ul
  li.task vytvořte konstruktor s parametry #[strong type] a #[strong expectedPrice] typu #[strong PublicationType] a #[strong int]
  li.task přiřaďte hodnoty do instančních proměnných

solution
  :highlight-java
    private PublicationType type;
    private int expectedPrice;

    public PenaltyCalculatorParameterizedTest(PublicationType type, int expectedPrice) {
      this.type = type;
      this.expectedPrice = expectedPrice;
    }

    @Parameters(name = "{index}: expected penalty for type {0} = {1}")
    public static Iterable<Object[]> parametersForPenaltyByType() {
      return Arrays.asList(new Object[][]{
        {PublicationType.DVD, 30},
        {PublicationType.BOOK, 20},
        {PublicationType.MAGAZINE, 10}
      });
    }

p Test bude nyní instancován pro každý záznam kolekce parametrů a ty budou dostupné v instančních proměnných

h4 1.3 Napište parametrický test penaltyByType

p Nyní již můžeme použít parametry v testu

ul.task
  li vytvořte test #[strong penaltyByType]
  li vytvořte instanci #[strong OverdueItem] a předejte vlastnost obsahující typ #[strong type] a jeden kus
  li zavolejte metodu #[strong calculate] kalkulátoru a ověřte, že vrátí cenu, která se rovná očekávané #[strong expectedPrice]
  li spusťte testy a ověřte, že procházejí

solution
  :highlight-java
    @Test
    public void penaltyByType() {
      OverdueItem overdueItem = new OverdueItem(type, 1);

      int price = calculator.calculate(overdueItem);

      assertThat(expectedPrice).isEqualTo(price);
    }

h3 2 Property based testing

p V parametrizovaném testu jsme se zbavili duplicity, pořád ale pracujeme jen s konkrétními čísly a příklady. Dalším stupněm abstrakce je testování přímo vlastností.

ul
  li tento test budete tvořit ve třídě #[strong PenaltyCalculatorPropertyBasedTest]

h4 2.1 Použijte runner pro spouštění teorií

p V JUnit existuje pro property based testing koncept teorií.

ul
  li.task použijte ve třídě runner umožňující spouštění teorií
  li.task spusťe test, měli by jste vidět, že obsahuje jednu platnou teorii (jeden procházející test)

hint Jedná se o runner #[strong Theories]

solution
  :highlight-java
    @RunWith(Theories.class)
    public class PenaltyCalculatorPropertyBasedTest {
      ...
    }

h4 2.2 Teorie pro minimální a maximální hodnotu

p.
  Můžete si všimnout, že cena pro jakýkoli typ se musí pohybovat v rozsahu MIN, MAX - test minimální hodnoty už existuje,
  prohlédněte si ho a vytvořte obdobně text pro maximální hodnotu

ul
  li maximální hodnotu můžete získat z objektu #[strong PenaltyDefinition] metodou #[strong getMaxItemPenalty]

ul.task
  li vytvořte teorii #[strong maximalPricePerType], která dostává parametr typu #[strong PublicationType]
  li implementujte stejně jako minimum, jen očekávejte že vypočtená hodnota je menší nebo rovna maximální hodnotě

solution
  :highlight-java
    @Theory
    public void maximalPricePerType(PublicationType type) {
      OverdueItem overdueItem = new OverdueItem(type);

      int result = calculator.calculate(overdueItem);

      assertThat(result).isLessThanOrEqualTo(definition.getMaxItemPenalty());
    }

h4 2.3 Možné hodnoty typů publikací

p.
  Máme přichystány teorie, které vyžadují jako parametr typ publikace.
  Protože Theory používá v případě typů Enum a Boolean všechny jejich hodnoty, nemusíme definovat DataPoints,
  Theory si hodnoty parametru odvodí sama.

ul.task
  li spusťte testy a zkontrolujte, že procházejí

h4 2.4 Teorie pro výši pokuty při více položkách

p Prohlédněte si ve třídě #[strong PenaltyCalculatorTest] test #[strong penaltyForEveryPiece]
  ul
    li testuje, že je cena násobkem počtu kusů
    li tuhle vlastnost bychom mohli generalizovat a otestovat pomocí property based testing

ul.task
  li ve třídě #[strong PenaltyCalculatorPropertyBasedTest] vytvořte teorii ověřující násobení ceny, pojmenovanou #[strong pricePerManyItemsIsSameAsMultipliedPricePerOne]
  li bude očekávat parametry pro typ #[strong PublicationType] a počet #[strong int]

ul
  li.task v teorii vytvořte dvě instance #[strong OverdueItem] zadaného typu
  li #[strong singleItem] - s jedním kusem
  li #[strong multipleItem] se zadaným počtem kusů

ul.task
  li vypočítejte samostatně hodnotu pokuty pro obě položky

ul.task
  li ověřte, že cena pro #[strong multipleItem] se rovná násobku ceny #[strong singleItem]

solution
  :highlight-java
    @Theory
    public void power(PublicationType type, int n) {
      OverdueItem singleItem = new OverdueItem(type);
      OverdueItem multipleItem = new OverdueItem(type, n);

      int singleItemPrice = calculator.calculate(singleItem);
      int multipleItemPrice = calculator.calculate(multipleItem);

      assertThat(multipleItemsPrice).isEqualTo(singleItemPrice * n);
    }

h4 2.5 Možné hodnoty počtu výpůjček

p Abychom mohli teorii ověřit, potřebujeme ještě definovat možné hodnoty počtu kusů

ul.task
  li definujte možné hodnoty počtu výpůjček jako pole typu #[strong int], jako hodnoty použijte #[strong {0, 1, 2, 3, 5, 10, 20, 45}]
  li spusťte testy a ověřte, že procházejí

solution
  :highlight-java
    @DataPoints
    public static int[] counts = {0, 1, 2, 3, 5, 10, 20, 45};

h2 Extra
h3 3 Teorie pro výpočet kolekce upomínek

p Prohlédněte si ve třídě #[strong PenaltyCalculatorTest] test #[strong penaltyForManyItemsShouldBeSum]
  ul
    li testuje, že pokuta pro více kusů je součtem jednotlivých pokut

p Toto je další vlastnost vhodná k testování. Ověříme, že součet výpočtu pro jednotlivé položky je shodný s výpočtem kolekce těchto položek. Budeme testovat pro kombinace různých typů.

ul.task
  li vytvořte teorii pojmenovanou #[strong priceForTwoTypesTogetherIsSameAsSumOfEachOfThem], bude očekávat dva parametry typu #[strong PublicationType]
  li omezte množinu testů na takové, kde se předané typy nerovnají

hint K ověření, že se nerovnají můžete použít #[strong assumeTrue]. Metoda vyřadí daný test pro tyto hodnoty ze spouštění.

ul.task
  li vytvořte instance #[strong OverdueItem] pro ně zadané typy a spočítejte výši pokut

ul.task
  li vytvořte kolekci s novými dvěma instancemi #[strong OverdueItem] zadaných typů
  li vypočtěte výši pokuty pro kolekci

ul.task
  li ověřte, že výpočet pokuty pro kolekci se rovná součtu pokut pro jednotlivé položky

solution
  :highlight-java
    @Theory
    public void priceForTwoTypesTogetherIsSameAsSumOfEachOfThem(PublicationType type1, PublicationType type2) {
      assumeFalse(type1 == type2);

      OverdueItem singleItem1 = new OverdueItem(type1);
      OverdueItem singleItem2 = new OverdueItem(type2);

      List<OverdueItem> multipleItems = new ArrayList<OverdueItem>();
      multipleItems.add(new OverdueItem(type1, 1));
      multipleItems.add(new OverdueItem(type2, 1));

      int singleItemPrice1 = calculator.calculate(singleItem1);
      int singleItemPrice2 = calculator.calculate(singleItem2);
      int multipleItemsPrice = calculator.calculate(multipleItems);

      assertThat(multipleItemsPrice).isEqualTo(singleItemPrice1 + singleItemPrice2);
    }

p.success Výborně, vyzkoušeli jste si parametrické testy a také property based testing
