p V tomto cvičení si vyzkoušíte Test Driven Development

p.
  Kalkulátor ceny předplatného bude potřeba rozšířit o další pravidla. Když si ale prohlédnete implementaci, vidíte, že
  už teď obsahuje několik podmínek. Přidávání dalších pravidel - if větví - by metoda začala bobtnat a stávat se "legacy kódem".
  Předtím, než se pustíme do přidání nové funkcionality, začneme malým refaktoringem stávajícího řešení.
  Vše budeme provádět proti testům, u nových objektů budeme psát nejdřív testy až poté implementaci.

p Příprava budoucích pravidel už je započatá, prohlédněte si rozhraní #[strong CalculationRule] a jeho implementace. Rozhraní má dvě metody
ul
  li #[strong canBeAppliedFor] - ověří aplikovatelnost podle uživatele #[strong User] a délky trvání #[strong Duration]
  li #[strong apply] - modifikuje a vrátí předanou cenu

p.
  Pokud si prohlédnete metodu #[strong calculatePrice] třídy #[strong SubscriptionCalculator], uvidíte, že aktuálně jsou implementovaná tři ze čtyř pravidel.
  Zbývá implementovat poloviční cenu za kratší než roční předplatné.

h3 1 Testy pro další pravidla

p.
  K existujícím pravidlům jsou připraveny také testovací třídy s abstraktním předkem #[strong AbstractRuleTest]. Prohlédněte si implementaci jednoho z nich.

ul
  li abstraktní předek #[strong AbstractRuleTest] vytváří uživatele pro použití v testech
    ul
      li retired
      li young
      li child
      li adult
  li testovací třídy mají samostatné testy projevu metody #[strong apply] a aplikovatelnost či neaplikovatelnost pravidla.

h4 1.1 Test pravidla pro kratší předplatné

p Implementaci pravidla začneme testem

ul
  li.task vytvořte testovací třídu #[strong HalfPriceDurationRuleTest] s předkem #[strong AbstractRuleTest]
    ul
      li inspirovat se můžete jedním z existujících testů
      li připravte instanci zatím neexistující třídy #[strong HalfPriceDurationRule], zatím se nezabývejte implementací

h4 1.1.1 Padající test priceShouldBeHalf

p  Pravidla budeme vyvíjet pomocí TDD, nejprve tedy vytvoříme jeden selhávající test. Začněme tím nejjednodušším, tedy aplikací pravidla.

ul
  li.task vytvořte test #[strong priceShouldBeHalf], který testuje, že metoda apply vrátí polovinu předané ceny
  li test nyní nepůjde spustit, protože třída #[strong HalfPriceDurationRule] neexistuje, nejprve ji založíme

solution
  :highlight-java
    public class HalfPriceDurationRuleTest extends AbstractRuleTest {

      private CalculationRule rule;

      @Before
      public void setUp() throws Exception {
        rule = new HalfPriceDurationRule();
      }

      @Test
      public void priceShouldBeHalf() throws Exception {
        assertEquals(50, rule.apply(100));
      }

    }

h4 1.1.2 Pravidlo HalfPriceDurationRule

ul.task
  li vytvořte skelet třídy #[strong HalfPriceDurationRule] implementující #[strong CalculationRule]
  li implementace metod ponechte zatím prázdné (nechte IDE vygenerovat prázdné implementace dle signatur v interface)
  li spusťte test, uvidíte, že neprochází

solution
  :highlight-java
    public class HalfPriceDurationRule implements CalculationRule {
      public boolean canBeAppliedFor(User user, Duration duration) {
        return false;
      }

      public int apply(int price) {
        return 0;
      }
    }

h4 1.1.3 Implementace metody apply

ul.task
  li implementujte metodu apply dle požadavků testu
  li spusťte test, ověřte, že prochází

solution
  :highlight-java
    public int apply(int price) {
      return price / 2;
    }

h4 1.1.4 Testy pro aplikaci pravidla

ul.task
  li vytvořte v testovací třídě test #[strong conditionsForRuleShouldNotBeApplied]
    ul
      li pravidlo není aplikovatelné pro žádného z uživatelů, pokud je délka předplatného #[strong Duration.ANNUAL]
  li spusťte testy

p Test prošel díky výchozí implementaci metody s návratovou hodnotou false. Můžeme tedy pokračovat dalším testem.

solution
  :highlight-java
    @Test
    public void conditionsForRuleShouldNotBeApplied() throws Exception {
      assertFalse(rule.canBeAppliedFor(retired, Duration.ANNUAL));
      assertFalse(rule.canBeAppliedFor(child, Duration.ANNUAL));
      assertFalse(rule.canBeAppliedFor(adult, Duration.ANNUAL));
      assertFalse(rule.canBeAppliedFor(young, Duration.ANNUAL));
    }

ul.task
  li vytvořte v testovací třídě test #[strong conditionsForRuleShouldBeApplied]
    ul
      li pravidlo je aplikovatelné pro všechny čtyři typy uživatelů při délce předplatného #[strong Duration.SIX_MONTHS]
  li spusťte testy, abychom si ověřili, že nový test neprojde a mohli přejít k implementaci

solution
  :highlight-java
    @Test
    public void conditionsForRuleShouldBeApplied() throws Exception {
      assertTrue(rule.canBeAppliedFor(retired, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(child, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(adult, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(young, Duration.SIX_MONTHS));
    }

ul.task
  li implementujte metodu #[strong canBeAppliedFor] dle požadavků testů
  li spusťte test, ověřte, že prochází

solution
  :highlight-java
    public boolean canBeAppliedFor(User user, Duration duration) {
      return duration == Duration.SIX_MONTHS;
    }


p.
  Testy prochází, pravidlo HalfPriceDurationRule je tedy implementované. Můžeme jej použít v kalkulátoru

h3 2 Refactoring SubscriptionCalculator na použití pravidel

p.
  Nyní, když máme implementována stávající pravidla pomocí objektů #[strong CalculationRule], můžeme refaktorovat #[strong SubscriptionCalculator] tak, aby je využíval.

p.
  Stávající implementace je pokryta testy z předchozích cvičení, ty nám pomůžou ověřit funkčnost změn.

ul
  li.task Spusťte testy a ověřte, že procházejí
h4 2.1 Přidejte nové pravidlo do seznamu

p V konstruktoru třídy #[strong SubscriptionCalculator] je již připravena kolekce pravidel

ul.task
  li doplňte do kolekce pravidlo #[strong HalfPriceDurationRule]

solution
  :highlight-java
    public SubscriptionCalculator(int basePrice) {
      this.basePrice = basePrice;

      calculationRules = new ArrayList<CalculationRule>();
      calculationRules.add(new RetiredRule());
      calculationRules.add(new ChildRule());
      calculationRules.add(new HalfPriceDurationRule());

      calculationRules.add(new YoungRule());
    }

h4 2.2 Implementujte výpočet pomocí pravidel

p.
  V metodě #[strong calculatePrice] můžeme odstranit stávající podmínky a aplikovat na cenu všechna aplikovatelná pravidla.

ul.task
  li iterujte přes kolekci pravidel #[strong calculationRules]
  li pokud je pravidlo aplikovatelné, přiřaďte do #[strong price] novou cenu získanou pomocí metodou #[strong apply]
  li spusťte testy a ověřte že všechny procházejí

solution
  :highlight-java
    public int calculatePrice(User user, Duration duration) {

      int price = basePrice;

      for (CalculationRule rule : calculationRules) {
        if (rule.canBeAppliedFor(user, duration)) {
          price = rule.apply(price);
        }
      }

      return price;
    }

h2 Extra
h3 3 Přidání pravidla čtvrtletního předplatného

p.
  Dorazilo zadání na úpravu výpočtu. Knihovna nyní umožní studentům vyzkoušet si její služby na tři měsíce zdarma.

h4 3.1 Přidejte délku předplatného tři měsíce

ul
  li do enumu #[strong Duration] přidejte položku #[strong THREE_MONTHS]

h4 3.2 Přidejte kód pravidla FreeYoungRule a jeho test

p.
  Implementaci samotného pravidla i jeho test napsal Váš kolega.

ul
  li Můžete je najít ve složkách #[strong src/main/resources] a #[strong src/test/resources]

ul.task
  li přesuňte třídu #[strong FreeYoungRule] a testovací třídu #[strong FreeYoungRuleTest] k ostatním pravidlům a testům
  li odstraňte z názvu sufix #[strong .draft]

hint Přesuňte je do balíku #[strong cz.unittest.exercises.rules]

ul.task
  li spusťte testy a ověřtě, že procházejí

h3 4 Rozšíření testů kalkulátoru

p.
  Nové pravidlo chceme začlenit do kalkulátoru, funkcionalitu nejprve pokryjeme testy kalkulátoru.

h4 4.1 Přidejte pomocnou metodu pro tříměsíční předplatné

ul.task
  li ve třídě #[strong AbstractSubscriptionCalculatorTest] vytvořte pomocnou metodu #[strong calculateThreeMonthsPriceFor]

solution
  :highlight-java
    protected int calculateThreeMonthsPriceFor(User user) {
      return calculator.calculatePrice(user, Duration.THREE_MONTHS);
    }

h4 4.2 Test tříměsíčního předplatného pro studenty

p Vytvořenou pomocnou metodu využijete v testu #[strong SubscriptionCalculatorForDiscountsTest]

ul.task
  li implementujte nový test #[strong calculatePrice_withYoungAndThreeMonth_shouldBeFree]
  li ověřte, že test neprochází

solution
  :highlight-java
    @Test
    public void calculatePrice_withYoungAndThreeMonth_shouldBeFree(){
      int price = calculateThreeMonthsPriceFor(youngUser);

      assertEquals(0, price);
    }

h4 4.3 Přidejte nové pravidlo do kolekce

ul.task
  li přidejte pravidlo #[strong FreeYoungRule] do kolekce ve třídě #[strong SubscriptionCalculator]
  li ověřte, že testy procházejí

h4 4.4 Test tříměsíčního předplatného pro dospělé

p.
  V případě dospělých stojí tříměsíční předplatné stejně jako půlroční, měla by být stále účtována polovina základní ceny.
  Zkontrolujeme to testem ve třídě #[strong SubscriptionCalculatorForAdultTest]

ul.task
  li vytvořte test #[strong calculatePrice_withAdultForThreeMonth_shouldBeHalfPrice]
  li ověřte, že tříměsíční předplatné pro dospělé stojí polovinu základní ceny
  li spusťte testy a zamyslete se, co se stalo

hint.
  Test neprochází, protože pravidlo pro poloviční cenu není aplikováno na tříměsíční předplatné.

solution
  :highlight-java
    @Test
    public void calculatePrice_withAdultForThreeMonth_shouldBeHalfPrice() {
      int threeMonthsPrice = calculateThreeMonthsPriceFor(adultUser);

      assertEquals(BASE_PRICE / 2, threeMonthsPrice);
    }

h4 4.5 Upravte implementaci HalfPriceDurationRule

p Poloviční cena má být účtována vždy, pokud není předplatné celoroční. Než přejdete k úpravě samotného pravidla, upravte jeho test.

ul
  li.task rozšiřte test #[strong conditionsForRuleShouldBeApplied] třídy #[strong HalfPriceDurationRuleTest]
    ul
      li pravidlo má být aplikovatelné pro všechny čtyři typy uživatelů také při tříměsíčním předplatném

solution
  :highlight-java
    @Test
    public void conditionsForRuleShouldBeApplied() throws Exception {
      assertTrue(rule.canBeAppliedFor(retired, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(child, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(adult, Duration.SIX_MONTHS));
      assertTrue(rule.canBeAppliedFor(young, Duration.SIX_MONTHS));

      assertTrue(rule.canBeAppliedFor(retired, Duration.THREE_MONTHS));
      assertTrue(rule.canBeAppliedFor(child, Duration.THREE_MONTHS));
      assertTrue(rule.canBeAppliedFor(adult, Duration.THREE_MONTHS));
      assertTrue(rule.canBeAppliedFor(young, Duration.THREE_MONTHS));
    }

ul.task
  li ověřte, že test neprochází
  li upravte implementaci ve třídě #[strong HalfPriceDurationRule]
  li ověřte, že nyní prochází všechny testy

solution
  :highlight-java
    public class HalfPriceDurationRule implements CalculationRule {

      public boolean canBeAppliedFor(User user, Duration duration) {
        return duration != Duration.ANNUAL;
      }

      public int apply(int price) {
        return price / 2;
      }
    }

.success Výborně, právě jste si vyzkoušeli základní principy vývoje řízeného testy
