p V tomto cvičení si vyzkoušíte základy psaní testů, budeme pokrývat existující implementaci.

p.
  Témata cvičení jsou z prostředí městské knihovny, která potřebuje evidovat čtenáře, řeší předplatné, výpůjčky a dostupnost půjčované literatury.
  V tomto příkladě začneme právě předplatným služeb.

p.
  Máme připravenou třídu #[strong SubscriptionCalculator], která počítá cenu předplatného v závislosti na délce trvání #[strong Duration] a věku uživatele #[strong User].
  Prohlédněte si letmo implementaci.

h3 1 Výpočet výše předplatného

p.
  Testovací třída #[strong SubscriptionCalculatorTest] už obsahuje první test, který ověřuje, že dospělý uživatel platí plnou cenu.

ul
  li.task prohlédněte si implementaci testu #[strong calculatePrice_withAdult_shouldReturnBasePrice]
    ul
      li vytvoří uživatele, který je dospělý
      li vytvoří instanci kalkulátoru se základní cenou 100
      li vypočítá výši předplatného na rok
      li zkontroluje, zda očekávaná cena odpovídá

  li.task spusťte test a vyzkoušejte, že prochází

h4 1.1 Implementujte test pro půlroční předplatné

p.
  Nyní vytvoříme obdobný test, počítající pro dospělého cenu předplatného na půl roku.

ul.task
  li Vytvořte test #[strong calculatePrice_withAdultForSixMonths_shouldReturnHalfPrice]
    ul
      li budete potřebovat dospělého uživatele a kalkulátor se základní cenou #[strong 100]
      li můžete tedy zkopírovat původní test
  li vypočítejte cenu za půl roku, jako druhý parametr metody #[strong calculatePrice] použijte #[strong Duration.SIX_MONTHS]
  li očekávejte, že byla vypočtena cena #[strong 50]

ul
  li.task vyzkoušejte, že test prochází

solution
  :highlight-java
    @Test
    public void calculatePrice_withAdultForSixMonths_shouldReturnHalfPrice() {
      User user = new User("Adult user", new LocalDate(1980, 1, 1));
      SubscriptionCalculator calculator = new SubscriptionCalculator(100);

      int sixMonthsPrice = calculator.calculatePrice(user, Duration.SIX_MONTHS);

      assertEquals(50, sixMonthsPrice);
    }

h3 2 Výpočet věku uživatele

p.
  V testovací třídě #[strong UserTest] nyní otestujeme výpočet věku uživatele.
  Pro výpočet předplatného se používá věk, kterého uživatel dosáhne v aktuálním měsíci, na dnech nezáleží.

ul
  li.
    Objekt uživatele má metodu #[strong getAgeInThisMonth], která počítá věk vzhledem k zadanému datu.

h4 2.1 Test věku uživatele měsíc před dnem narození

p.
  Zde otestujeme, že měsíc před narozeninami má uživatel ještě původní věk.

ul.task
  li vytvořte nový test, pojmenovaný například #[strong ageOneMonthBeforeBirthDayShouldBeUnchanged]
  li vytvořte uživatele s datem narození #[strong 15. 7. 1975]

snippet
  :highlight-java
    Datum vytvořte pomocí: new LocalDate(1975, 7, 15)

ul.task
  li pomocí metody uživatele #[strong getAgeInThisMonth] získejte věk k datu #[strong 15. 6. 2016]
  li ověřte, že je uživateli stále #[strong 40]

ul
  li.task vyzkoušejte, že test prochází

hint Pro ověření hodnoty použijte metodu #[strong assertEquals]
  snippet
    :highlight-java
      Syntaxe: assertEquals(expected, actual);

solution
  :highlight-java
    @Test
    public void ageOneMonthBeforeBirthDayShouldBeUnchanged() {
      User user = new User("Test user", new LocalDate(1975, 7, 15));
      int age = user.getAgeInThisMonth(new LocalDate(2016, 6, 15));

      assertEquals(40, age);
    }

h4 2.2 Test věku uživatele měsíc po dni narození

p.
  Zde otestujeme, že měsíc po narozeninách má uživatel o rok více.

ul.task
  li vytvořte nový test, pojmenovaný například #[strong ageOneMonthAfterBirthDayShouldBeHigher]
  li vyjděte z původního testu
  li vytvořte uživatele s datem narození #[strong 15. 7. 1975]
  li získejte věk k datu #[strong 15. 8. 2016]
  li ověřte, že je uživateli již #[strong 41]

ul
  li.task vyzkoušejte, že test prochází

solution
  :highlight-java
    @Test
    public void ageOneMonthAfterBirthDayShouldBeHigher() {

      User user = new User("Test user", new LocalDate(1975, 7, 15));
      int age = user.getAgeInThisMonth(new LocalDate(2016, 8, 15));

      assertEquals(41, age);
    }

h4 2.3 Test věku uživatele v měsíci narození

p.
  Věk je uživateli přiznán v celém měsíci, ve kterém má narozeniny.
  Budeme tedy testovat, že byl dosažený věk uživateli přiznán, ať má narozeniny dnes, na začátku či na konci měsíce.

ul.task
  li vytvořte nový test, pojmenovaný například #[strong ageInMonthOfBirthShouldBeConsistent]
  li vytvořte tři uživatele s následujícími daty narození
    ul
      li 15. 6. 1975 - má narozeniny dnes
      li 1. 6. 1975 - měl narozeniny na začátku měsíce
      li 30. 6. 1975 - má narozeniny na konci měsíce

  li ověřte, že k datu #[strong 15. 6. 2016] mají všichni tři uživatelé 41 let

ul
  li.task vyzkoušejte, že test prochází

solution
  :highlight-java
    @Test
    public void ageInMonthOfBirthShouldBeConsistent() {

      LocalDate today = new LocalDate(2016, 6, 15);

      User hasBirthday = new User("Has birthday today", new LocalDate(1975, 6, 15));
      User alreadyHadBirthday = new User("Had birthday", new LocalDate(1975, 6, 1));
      User willHaveBirthday = new User("Will have birthday", new LocalDate(1975, 6, 30));

      assertEquals(41, hasBirthday.getAgeInThisMonth(today));
      assertEquals(41, alreadyHadBirthday.getAgeInThisMonth(today));
      assertEquals(41, willHaveBirthday.getAgeInThisMonth(today));
    }
