p V tomto cvičení si vyzkoušíte základy testování webových aplikací pomocí Selenia.

p Pro testy využijeme jednu z našich ukázkových aplikací -&nbsp;
  a(href="http://beer-app.angular.cz/", target="_blank") BeerApp.
  |  Jedná se o fiktivní katalog piv, který umožňuje vyhledávání, editaci a hodnocení.

p Testy budeme psát rovnou pomocí page objektů, některé jsou připravené a některé doimplementujete.

h3 1 Spuštění testů

p Testovací třída #[strong BeerAppSeleniumTest] obsahuje první test #[strong testHomepageTitle], který ověří, že se stránka načetla.

h4 1.1 Vytvořte instanci webdriveru
p Před spuštěním testu musíme ale inicializovat webdriver. Jeho použití zapouzdřuje třída #[strong WebDriverRule] a je začleněn pomocí #[strong Rule]

ul
  li prohlédněte si třídu a použití

ul.task
  li spusťte testovací třídu #[strong BeerAppSeleniumTest]
  li dojde k otevření prohlížeče a test ověřující titulek bude procházet

h3 2 Test vyhledání a přechodu na detail

p Nyní se vžijte do role testera a proveďte následující kroky
  ul.task
    li otevřete v prohlížeči&nbsp;
      a(href="http://beer-app.angular.cz/", target="_blank") seznam piv
    li do vyhledávacího pole napište #[strong Rebel]
    li vyberte stupeň #[strong 11]

  ul.task
    li zkontrolujte že bylo vyhledáno pivo #[strong Rebel 11]
    li přejděte tlačítkem #[strong Detail] na jeho detail
  ul.task
    li zkontrolujte, že je v nadpisu detailu název piva #[strong Rebel]

p Tento test nyní zautomatizujeme pomocí selenia

h4 2.1 Vytvořte test searchRebel11AndGoToTheDetail

p Prohlédněte si implementaci připravených page objektů a co umožňují, všimněte si získávání elementů, čekacích smyček a také způsobu vytváření page objektů.

ul
  li #[strong ListPage]
    ul
      li zapouzdřuje stránku seznamu
      li umožňuje zadat frázi a stupeň pro hledání
      li vyhledá řádek podle textu a vrátí jej reprezentovaný jako #[strong ListItem]
  li #[strong ListItem]
    ul
      li získává jména piva
      li umožní přejít na detail piva, vrátí page objekt #[strong DetailPage]
  li #[strong DetailPage]
    ul
      li obaluje stránku detailu
      li získává název

p Page objekty použijeme v následujícím testu

ul.task
  li vytvořte test #[strong searchRebel11AndGoToTheDetail]

ul.task
  li připravte instanci page objektu #[strong ListPage]
  li zadejte stupeň #[strong 11]
  li výraz #[strong Rebel]

ul.task
  li získejte page objekt řádku obsahujícího #[strong Rebel]
  li assercí ověřte, že jméno získaného řádku je #[strong Rebel]

ul.task
  li přejděte na detail získaného řádku
  li v získaném page objektu ověřte, že titulek zobrazuje jméno piva #[strong Rebel]

ul.task
  li spusťte test a ověřte že prochází

solution
  :highlight-java
    @Test
    public void searchRebel11AndGoToTheDetail() throws InterruptedException {

      ListPage listPage = new ListPage(driver);
      listPage.setDegree("11");
      listPage.setQuery("Rebel");

      ListItem rowWithRebel = listPage.getRowContaining("Rebel");
      assertThat(rowWithRebel.getName()).isEqualTo("Rebel");

      DetailPage detailPage = rowWithRebel.goToDetail();
      assertThat(detailPage.getTitle()).isEqualTo("Rebel");
    }

h3 3 Hodnocení piva

p Nyní se opět vžijte do role testera a proveďte následující kroky
  ul.task
    li otevřete v prohlížeči&nbsp;
      a(href="http://beer-app.angular.cz/#/beer/1", target="_blank") detail piva
    li přejděte na záložku #[strong Hodnocení]
  ul.task
    li vyplňte jméno
    li vyberte 3 hvězdičky
    li zadejte nějaký text
    li odešlete hodnocení

  ul
    li.task ověřte, že byl zobrazen přihlašovací formulář
    li přihlaste se jako
      ul
        li uživatel #[strong user]
        li heslo #[strong pass]
  ul
    li ověřte, že byla zobrazena zelená notifikace o přidání hodnocení

p Před automatizací testu budeme opět potřebovat page objekty. Pro přihlášení a získání notifikací jsou již připraveny page objekty #[strong LoginModalDialog] a #[strong Alerts], pro hodnocení je nyní naimplementujete.

h4 3.1 Vytvořte metodu pro přechod na hodnocení

p Page objekt #[strong DetailPage] bude umožňovat přejít na záložku hodnocení

ul.task
  li vytvořte metodu #[strong goToRatingTab]
  li metoda využije #[strong driver] a najde element odkazu podle textu #[strong Hodnocení]

hint Pro nalezení elementu využijete metodu #[strong findElement]. K vyhledání pak lokátor #[strong By.linkText]

ul.task
  li na získaný element klikněte

hint.task Element má metodu #[strong click]

ul.task
  li z metody vraťte nový objekt třídy #[strong DetailRatingTab]

solution
  :highlight-java
    public DetailRatingTab goToRatingTab() {
      WebElement ratingLink = driver.findElement(By.linkText("Hodnocení"));
      ratingLink.click();

      return new DetailRatingTab(driver);
    }

h4 3.2 Nalezení tabu hodnocení elementu

p V page objektu #[strong DetailRatingTab] nyní budeme implementovat jednotlivé metody.

p Začneme získáním elementu tabu. Protože může být načtení zpožděné, počkáme než se objeví.

ul.task
  li v konstruktoru #[strong DetailRatingTab] vytvořte objekt pro čekání

hint Využijte objekt #[strong WebDriverWait]

ul.task
  li využijte čekání s podmínkou
  li počkejte než se objeví element
  li hledejte jej podle css selektoru #[strong div.ratings]
  li získaný element přiřaďte do #[strong ratings] pro další použití

hint
  ul
    li čekání iniciujete pomocí - #[strong wait.until()]
    li podmínka pro existenci elementu - #[strong ExpectedConditions.presenceOfElementLocated]
    li lokátor css selektoru #[strong By.cssSelector()]

solution
  :highlight-java
    public DetailRatingTab(WebDriver driver) {

      WebDriverWait wait = new WebDriverWait(driver, 10);
      ratings = wait.until(ExpectedConditions.presenceOfElementLocated(By.cssSelector("div.ratings")));
    }

h4 3.3 Metoda pro nastavení jména

p Implementujte metodu #[strong setName]

ul.task
  li získejte element editačního pole
  li hledejte jej uvnitř elementu #[strong ratings] podle id #[strong rating-name]

hint Element má stejně jako driver metodu #[strong findElement]. Pro získání podle id použijte lokátor #[strong By.id()]

ul.task
  li vymažte původní obsah a zapište do elementu obsah parametru #[strong name]

hint Použijte metody #[strong clear] a #[strong sendKeys]

solution
  :highlight-java
    public void setName(String name) {

      WebElement nameElement = ratings.findElement(By.id("rating-name"));
      nameElement.clear();
      nameElement.sendKeys(name);
    }

h4 3.4 Metoda pro nastavení popisu

p Implementujte metodu #[strong setDescription]

ul.task
  li získejte element editačního pole
  li hledejte jej uvnitř elementu #[strong ratings] podle id #[strong rating-description]
  li vymažte původní obsah a zapište do elementu obsah parametru #[strong text]

solution
  :highlight-java
    public void setDescription(String text) {

      WebElement nameElement = ratings.findElement(By.id("rating-description"));
      nameElement.clear();
      nameElement.sendKeys(text);
    }
h4 3.5 Metoda pro nastavení hodnocení

p Implementujte metodu #[strong setDescription]

ul.task
  li získejte kolekci elementů reprezentujících hvězdičky
  li kolekci hledejte uvnitř elementu #[strong ratings] podle css selektoru #[strong span#rating-rating>i]

hint Pro získání kolekce slouží metoda #[strong findElements]
ul.task
  li z kolekce získejte element hodnotou #[strong rating] a klikněte na něj

hint Elementy jsou číslovány od 0

solution
  :highlight-java
    public void setRating(int rating) {

      List<WebElement> stars = ratings.findElements(By.cssSelector("span#rating-rating>i"));
      stars.get(rating-1).click();
    }

h4 3.6 Metoda pro odeslání hodnocení

p Implementujte metodu #[strong clickRateButton]

ul.task
  li získejte element odesílacího tlačítka
  li hledejte jej uvnitř elementu #[strong ratings] podle css selektoru #[strong button[type='submit']]
  li na element klikněte

solution
  :highlight-java
    public void clickRateButton() {

      WebElement button = ratings.findElement(By.cssSelector("button[type='submit']"));
      button.click();
    }

h4 3.7 Vytvořte test ratingBeerWithExplicitLogin

p Page objekty jsou připraveny, nyní můžeme v #[strong BeerAppSeleniumTest] implementovat test. Případné chyby page objektů dolaďte za chodu.

ul.task
  li vytvořte test #[strong ratingBeerWithExplicitLogin]
  li přejděte na url detailu piva #[strong BASE_URI + "#/beer/1"]

hint Využijte metodu driveru #[strong get]

ul.task
  li vytvořte page objekt #[strong DetailPage]
  li přejděte na záložku rating a získejte page objekt #[strong DetailRatingTab]

ul.task
  li jméno #[strong petr]
  li popis #[strong description]
  li hodnocení #[strong 3]
  li odešlete hodnocení

ul.task
  li vytvořte page objekt modálního okna #[strong LoginModalDialog]
  li přihlaste se jako #[strong user] s heslem #[strong pass]

ul.task
  li vytvořte page objekt notifikací #[strong Alerts]
  li získejte text notifikace a očekávejte že obsahuje text #[strong Vaše hodnocení bylo přidáno, děkujeme.]


solution
  :highlight-java
    @Test
    public void ratingBeerWithExplicitLogin() throws Exception {

      driver.get(BASE_URI + "#/beer/1");

      DetailPage detailPage = new DetailPage(driver);
      DetailRatingTab ratingTab = detailPage.goToRatingTab();

      ratingTab.setName("user");
      ratingTab.setRating(3);
      ratingTab.setDescription("description");
      ratingTab.clickRateButton();

      LoginModalDialog loginModal = new LoginModalDialog(driver);
      loginModal.logAs("user", "pass");

      Alerts alerts = new Alerts(driver);
      assertThat(alerts.getAlertText()).contains("Vaše hodnocení bylo přidáno, děkujeme");
    }

ul.task
  li spusťte testy a ověřte že procházejí

.success Výborně, implementovali jste Selenium testy pomocí page objektů.
